@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply min-h-screen bg-cryptify-bg font-kanit text-white antialiased;
  }

  body {
    font-weight: 300;
  }
}

#move {
  animation: anim 2s linear infinite alternate;
}

@keyframes anim {
  100% {
    transform: translateY(-30px);
  }
}
